NODE_ENV=development
PORT=8023
DATABASE_URL=postgresql://postgres:postgres@hostel_admin_database_container:5432/hostel_admin
REDIS_HOST=hostel_admin_redis_container
REDIS_PORT=6379
JWT_TOKEN_SECRET=489ijkncjkh4i5unmncku3i9umnsdnck34usdnj

ACCESS_TOKEN_SECRET=HM_P0RTUG4L
#In Seconds
ACCESS_TOKEN_EXPIRE_TIME=3600

REFRESH_TOKEN_SECRET=HM_L1SB0N
#In Seconds
REFRESH_TOKEN_EXPIRE_TIME=7200